* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    background: black;
    color: white;
}

div, p {
    padding: 0;
    margin: 0;
}

.col-1 {width: 12.5%;}
.col-2 {width: 25%;}
.col-3 {width: 37.5%;}
.col-4 {width: 50%;}
.col-5 {width: 62.5%;}
.col-6 {width: 75%;}
.col-7 {width: 87.5%;}
.col-8 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 2px;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

.small-caption {
    font-family: 'Verdana', sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
    color: aqua;
}

.big-caption {
    font-family: 'Teko', serif;
    font-size: 4.5em;
    color: lime;
}

.statusline {
    width: 100%;
    color: lightgray;
    text-align: right;
    font-size: 0.6em;
}

.icon {
    padding-top: 1em;
    height: 4.5em;
    float: left;
}
